# /etc/systemd/system/oikopupu.timer
[Unit]
Description=Sync PupuNet peering tables periodically

[Timer]
OnUnitActiveSec=1h
Persistent=true
OnBootSec=0s

[Install]
WantedBy=timers.target
