# /etc/systemd/system/oikopupu.service
[Unit]
Description=PupuNet peering table sync
After=network-online.target

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/bin/sh -c "sudo -u USER /PATH/TO/oikopupu/fetch_rules https://EXAMPLE.COM/oikopupu/ | iptables-restore --noflush"
